@import "./stylesheets/_variables.scss";

html,
body,
#root {
  // background-color: desaturate($primary, 20%);
	// background-color: adjust-hue($primary, 20%);
  background-color: $light-gray;
}

body {
  line-height: 1.4;
  font-family: $font-family;
  font-size: 12pt;
  color: $base;
	margin: 0;
	padding: 0;
}

.root {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	width: 100%;
  min-height: 90vh;
  background-color: #fff;
	// border: 0.5em solid lighten($secondary, 10%);

	> header {
		text-align: center;
		margin: 1em;
		margin-top: 2em;

		// @include gradient-bg;

		img {
			max-width: 150px;
			max-height: 150px;
		}
	}
} // .root

.loading {
	height: 21em;
	line-height: 7em;
	font-size: $text-huge;
	font-family: $font-constitution;
} // .loading

.error {
	height: 21em;
	text-align: center;
	font-family: $font-constitution;
	font-size: $text-large;
	span {
		line-height: 3.5em;
		font-size: $text-huge;
	}
} // .error

.text {
	&-small { font-size: 0.6em; }
	&-center { text-align: center; }
	&-upper { text-transform: uppercase; }
	&-fancy { font-family: $font-constitution; }
	&-black { color: $base; }
} // .text-*

.pull {
	&-left { float: left; }
	&-right { float: right; }
} // .pull-*

img {
	&.circle {
		min-width: 50px;
		min-height: 50px;

		border-radius: 50%;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
} // img

a {
	color: $gray;
  text-decoration: none;
	-webkit-transition: ease-in-out .15s;
  -o-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
	// .no-color { color: $base; }
	&:hover,
	&:focus {
		color: $tertiary;
		background-color: transparent;
	}
} // a

h1,
h2,
h3 {
  text-align: center;
	// color: $primary;
}

h1 { font-family: $font-constitution; }
